* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    width: 600px;
    margin: 0 auto;
}

fieldset {
    padding: 2rem;
}

legend {
    font-size: 2rem;
}

label {
    font-size: 1.5rem;
}

input {
    padding: 5px;
}

.btn {
    margin-top: 1rem;
    border-radius: 10px;
    background-color: white;
    padding: 3px 15px;
}